.error {
    color: #4e0909;
    text-align: left;
    margin-left: 10px;
}

.error::before {
content: "⚠ ";
}

.services .form-control{
    width: 100%;
}

.err {
    color: #ff0000e7;
    }
    
.err::before {
content: "⚠ ";
}